@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.main {
  position: relative;
  margin-top: 100px;
}

.search-row {
  background-color: #CEECF5;
  padding: 15px;
}

.content-row {
  background-color: #F7F8E0;
  padding: 15px;
}

#solidityContent, #byteCodeContent {
  min-height: 400px;
}

.modal-center {
  text-align: center;
}
