@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  background-color: #ccc;
}

.main {
  position: relative;
  margin-top: 70px;
}

.search-row {
  background-color: #CEECF5;
  padding: 15px;
}

.content-row {
  background-color: #F7F8E0;
  padding: 15px;
}

#solidityContent {
  min-height: 225px;
}
#byteCodeContent {
  min-height: 225px;
}

.modal-center {
  text-align: center;
}

.glyphicon-custom-size {
  font-size: 48px;
}

/* STYLES TO CUSTOMIZE BLOC GENERATED CODE */
